// RESET CSS
@import 'reset';

// VARIABLE
$primary-color: black;
$primary-light-color: #252626;
$secondary-light-color: #A6A6A6;
$primary-white-color: #F2F2F2;
$primary-background-color: #DBD0B7;
$primary-hover-color: #9a9a9a;
$primary-project-title: $primary-white-color;
// DESKTOP SIZE
$desktop-primary-h1: 130px;
$desktop-subheading: 30px;
$desktop-project-h1: 120px;
$desktop-project-subheading: 18px;
$desktop-paragraph: 25px;
$desktop-social-links: 18px;
// MOBILE SIZE
$mobile-primary-h1: 60px;
$mobile-subheading: 20px;

// GENERAL
html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-color: $primary-background-color;
    font-family: 'helvetica';
}

// HEADER
header {
    padding: 20px;
    height: 100vh;
    position: relative;

    .top-info {
        z-index: 1000;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        padding: 20px 20px;
        display: grid;
        grid-template-columns: auto 1fr auto auto;
        box-sizing: border-box;

        .header-logo {
            display: flex;
            justify-content: center;
            align-items: center;

            a {
                text-decoration: none;
                font-size: $desktop-subheading;
                font-weight: 100;
                color: $primary-light-color;
                transition: color 0.3s ease;

                &:hover {
                    color: $primary-hover-color;
                }
            }
        }

        .square {
            display: flex;
            align-items: center;
            margin: 0 20px;

            .top-hr {
                width: 100%;
                height: 1px;
                background-color: $secondary-light-color;
            }
        }

        .header-social {
            display: flex;
            align-items: center;
            gap: 20px;

            a {
                text-decoration: none;
                font-size: $desktop-social-links;
                font-weight: 100;
                color: $primary-light-color;
                transition: color 0.3s ease;

                &:hover {
                    color: $primary-hover-color;
                }
            }

            .resume {
                border-right: 1px solid $secondary-light-color;
                padding: 5px 10px;
            }
        }

        /* hamburger menu */
        .hamburger-menu {
            .hamburger-content {
                display: none;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                padding: 10px;
            }

            .bar {
                height: 3px;
                width: 20px;
                background-color: $primary-light-color;
                margin-bottom: 5px;
                border-radius: 5px;
                transition: all 0.2s ease-in-out;
            }

            .hamburger-content.active .bar:nth-child(1) {
                transform: translateY(8px) rotate(45deg);
            }

            .hamburger-content.active .bar:nth-child(2) {
                opacity: 0;
            }

            .hamburger-content.active .bar:nth-child(3) {
                transform: translateY(-8px) rotate(-45deg);
            }

            .bar:last-child {
                margin-bottom: 0px;
            }
        }
    }

    nav {
        z-index: 1000;
        display: flex;
        flex-direction: column;
        position: fixed;
        bottom: 20px;
        right: 20px;
        gap: 25px;
        text-align: end;

        .nav-link a {
            text-decoration: none;
            color: $primary-light-color;
            font-size: $desktop-subheading;
            line-height: 25px;
            font-weight: 100;
            transition: color 0.3s ease;

            &:hover {
                color: $primary-hover-color;
            }
        }
    }

    /* sub nav */
    .sub-nav {
        z-index: 100;
        background-color: $primary-white-color;
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: 100%;
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        opacity: 0;
        transition: all 0.2s ease-in-out;

        #github {
            margin-top: 50px;
        }
    }

    .sub-nav.active {
        right: 0px;
        opacity: 1;
    }

    .sub-nav ul li {
        margin: 10px;
    }

    .sub-nav ul li a {
        color: $primary-light-color;
        font-size: 50px;
        font-weight: 100;
        text-decoration: none;
        .sub-socials {
            font-size: 30px;
            span {
                font-family: 'helvetica';
            }
        }
    }

    .header-title {
        display: flex;
        flex-direction: column;
        height: 100vh;
        justify-content: center;
        align-items: start;

        h1 {
            font-size: $desktop-primary-h1;
            color: $primary-light-color;
            font-weight: 100;
            width: 1000px;
        }

        a {
            font-size: $desktop-subheading;
            color: $primary-light-color;
            font-weight: 100;
            margin-top: 20px;
            padding: 20px;
            text-decoration: underline;
            transition: color 0.3s ease-out;

            &:hover {
                color: $primary-hover-color;
            }
        }
    }

    /* Back to top */
    .back-top {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: fixed;
        bottom: 170px;
        right: 20px;
        width: 50px;
        height: 50px;
        border: 1px solid $primary-light-color;
        filter: 0;
        border-radius: 60px;
        z-index: 1000;
        transition: all 0.3s ease;
        background-color: $primary-light-color;

        &:hover {
            border: 1px solid $primary-light-color;
            background-color: $primary-white-color;

            .back-top-content {
                color: $primary-light-color;
                font-weight: 500;
            }
        }

        .back-top-content {
            color: $primary-white-color;
            font-weight: 500;
        }

        text-decoration: none;
    }

    .hidden {
        opacity: 0;
    }
}


// CONTENT
.main-project {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .scroll {
        position: absolute;
        filter: blur(10px);
        transition: filter 0.8s ease-in-out;
        z-index: 2;

        .title {
            display: flex;
            flex-direction: column;

            .project-title {
                font-size: $desktop-project-h1;
                text-decoration: none;
                color: $primary-project-title;
                font-weight: 100;
                // transition: color 0.3s ease-out;

                &:hover {
                    // color: #535353;
                    text-decoration: underline;
                }
            }

            .sub {
                margin-top: 20px;
                display: flex;
                align-items: center;
                justify-content: start;
                gap: 10px;
                padding: 0 0 0 15px;

                .project-sub-title {
                    font-size: $desktop-subheading;
                    text-decoration: none;
                    color: $primary-project-title;
                    font-weight: 100;
                }

                .project-view-code {
                    font-size: $desktop-paragraph;
                    text-decoration: none;
                    color: $primary-project-title;
                    border: 1px solid $primary-project-title;
                    border-radius: 5px;
                    padding: 10px;
                    transition: all 0.3s ease;

                    &:hover {
                        color: $primary-light-color;
                        background-color: $primary-white-color;
                        border: 1px solid $primary-white-color;
                    }
                }
            }
        }
    }

    .scroll-appear {
        filter: blur(0px);
    }

    .project-image {
        position: relative;
        z-index: 1;
        img {
            width: 1000px;
            border-radius: 20px;
            filter:saturate(40%) brightness(70%);
        }
    }
}

// ABOUT ME
.main-about {
    padding: 20px;
    display: flex;
    flex-direction: column;
    height: 80vh;
    align-items: center;
    justify-content: center;

    h2 {
        font-size: $desktop-paragraph;
        color: $primary-light-color;
        font-weight: bold;
    }

    .about-para {
        p {
            width: 50vw;
            text-align: start;
            font-size: $desktop-paragraph;
            line-height: 35px;
            font-weight: 300;
            color: $primary-light-color;
            margin: 30px 0;
        }
    }

    .scroll-other {
        filter: blur(10px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: filter 0.7s ease-out;
    }

    .scroll-appear-other {
        filter: blur(0px);
    }

    .skill {
        width: 50vw;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        align-items: center;
        gap: 20px;

        .skill-item {
            p {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 20px;
                font-weight: 100;
                border: 1px solid $secondary-light-color;
                border-radius: 10px;
                padding: 10px;
            }
        }
    }
}

// GET IN TOUCH
.main-contact {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {
        font-size: $desktop-paragraph;
        color: $primary-light-color;
        font-weight: bold;
    }

    .contact-info {
        display: flex;

        .contact-email {
            font-size: 40px;
            color: $primary-color;
            margin: 30px 0;

            a {
                text-decoration: none;
                color: $primary-light-color;
                font-size: 60px;
                font-weight: 100;
                transition: color 0.3s ease;

                &:hover {
                    color: $primary-hover-color;
                }
            }
        }

        .contact-phone {
            a {
                text-decoration: none;
                color: $primary-light-color;
                font-size: 25px;
                font-weight: 100;
                transition: color 0.3s ease;

                &:hover {
                    color: $primary-hover-color;
                }
            }
        }
    }

    .scroll-other {
        filter: blur(10px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: filter 0.7s ease-out;
    }

    .scroll-appear-other {
        filter: blur(0px);
    }
}

/*--------- MEDIA QUERIES ---------*/
@media (max-width: 1100px) {
    header {
        .header-title {
            align-items: center;

            h1 {
                // font-size: $tablet-primary-h1;
                width: 600px;
            }
        }
    }

    .main-project {
        padding: 50px;

        .project-title img {
            width: 100%;
            height: 500px;
            object-fit: cover;
            border-radius: 20px;
        }
    }
}

@media (max-width: 900px) {
    header {
        .header-title {
            align-items: center;

            h1 {
                font-size: $mobile-primary-h1;
                text-align: center;
                width: auto;
            }

            a {
                font-size: $mobile-subheading;
            }
        }

        .top-info {
            .header-social {
                display: none;
            }

            .hamburger-menu {
                .hamburger-content {
                    display: flex;
                }
            }
        }

        nav {
            display: none;
        }

        .sub-nav {
            display: flex;
        }

        .back-top {
            bottom: 20px;
        }
    }

    .main-project {
        padding: 50px;

        .project-image {
            width: 100%;
            img {
                width: 300px;
                height: 500px;
                object-fit: cover;
            border-radius: 20px;
            }
        }

        .scroll {
            .title {
                .project-title {
                    font-size: $mobile-primary-h1;
                    text-align: center;
                }

                .sub {
                    flex-direction: column;
                }
            }
        }
    }

    .main-about {
        height: 100vh;
        margin-top: 100px;

        .about-para {
            margin-bottom: 20px;

            p {
                text-align: center;
            }
        }
    }

    .main-contact {
        height: 100vh;

        .contact-info {
            .contact-email {
                font-size: 40px;

                a {
                    text-decoration: none;
                    color: $primary-light-color;
                    font-size: 30px;
                    font-weight: 100;
                }
            }

            .contact-phone {
                a {
                    text-decoration: none;
                    color: $primary-light-color;
                    font-size: 20px;
                    font-weight: 100;
                }
            }
        }
    }
}

@media (max-width: 400px) {
    .main-about {
        height: auto;
    }

    .main-project {
        .project-title img {
            height: 300px;
        }

        .sub {
            .project-sub-title {
                text-align: center;
                margin-bottom: 20px;
            }
        }
    }

    .main-contact {
        height: 100vh;

        .contact-info {
            .contact-email {
                a {
                    font-size: 25px;
                }
            }
        }
    }
}