/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  /* font: inherit; */
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: #F2F2F2;
  font-family: "helvetica";
  font-weight: bold;
}

header {
  padding: 20px;
  height: 100vh;
  position: relative;
  /* Back to top */
}
header .top-info {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 20px 20px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 20px;
  box-sizing: border-box;
}
header .top-info .header-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .top-info .header-logo a {
  text-decoration: none;
  font-size: 30px;
  font-weight: 100;
  color: #252626;
}
header .top-info .square {
  display: flex;
  align-items: center;
}
header .top-info .square .top-hr {
  width: 100%;
  height: 1px;
  background-color: #A6A6A6;
}
header .top-info .header-social {
  display: flex;
  align-items: center;
  gap: 20px;
}
header .top-info .header-social a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 100;
  color: #252626;
}
header .top-info .header-social .resume {
  border-right: 1px solid #A6A6A6;
  padding: 5px 10px;
}
header nav {
  z-index: 1000;
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 20px;
  right: 20px;
  gap: 10px;
  text-align: end;
}
header nav .nav-link a {
  text-decoration: none;
  color: #0D0D0C;
  font-size: 25px;
  line-height: 25px;
  font-weight: 100;
}
header .header-title {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: start;
}
header .header-title h1 {
  font-size: 9em;
  color: #0D0D0C;
  font-weight: 100;
  width: 1000px;
}
header .header-title a {
  font-size: 2em;
  color: #0D0D0C;
  font-weight: 100;
  margin-top: 20px;
  padding: 20px;
  text-decoration: none;
  border-bottom: 2px solid #252626;
}
header .back-top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  bottom: 130px;
  right: 20px;
  width: 50px;
  height: 50px;
  border: 1px solid #252626;
  filter: 0;
  border-radius: 60px;
  z-index: 3;
  transition: all 0.3s ease;
  background-color: #252626;
  text-decoration: none;
}
header .back-top:hover {
  border: 1px solid #252626;
  background-color: #F2F2F2;
}
header .back-top:hover .back-top-content {
  color: #252626;
  font-weight: 500;
}
header .back-top .back-top-content {
  color: #F2F2F2;
  font-weight: 500;
}
header .hidden {
  opacity: 0;
}

.main-project {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-project .scroll {
  position: absolute;
  filter: blur(10px);
  transition: filter 0.8s ease-in-out;
}
.main-project .scroll .title {
  display: flex;
  flex-direction: column;
}
.main-project .scroll .title .project-title {
  font-size: 8em;
  text-decoration: none;
  color: #0D0D0C;
  font-weight: 100;
}
.main-project .scroll .title .sub {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
  padding: 0 0 0 15px;
}
.main-project .scroll .title .sub .project-sub-title {
  font-size: 2em;
  text-decoration: none;
  color: #252626;
  font-weight: 100;
}
.main-project .scroll .title .sub .project-view-code {
  font-size: 1em;
  text-decoration: none;
  color: #252626;
  border: 1px solid #A6A6A6;
  border-radius: 5px;
  padding: 10px;
  text-transform: uppercase;
}
.main-project .project-title img {
  width: 1000px;
  border-radius: 20px;
}
.main-project .scroll-appear {
  filter: blur(0px);
}

.main-about {
  padding: 20px;
  display: flex;
  flex-direction: column;
  height: 80vh;
  align-items: center;
  justify-content: center;
}
.main-about h2 {
  font-size: 25px;
  color: #0D0D0C;
  font-weight: bold;
}
.main-about .about-para p {
  width: 50vw;
  text-align: start;
  font-size: 25px;
  line-height: 35px;
  font-weight: 300;
  color: #252626;
  margin: 30px 0;
}
.main-about .scroll-other {
  filter: blur(10px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: filter 0.7s ease-out;
}
.main-about .scroll-appear-other {
  filter: blur(0px);
}
.main-about .skill {
  width: 50vw;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  align-items: center;
  gap: 20px;
}
.main-about .skill .skill-item p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 100;
  border: 1px solid #A6A6A6;
  border-radius: 10px;
  padding: 10px;
}

.main-contact {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-contact h2 {
  font-size: 25px;
  color: #0D0D0C;
  font-weight: bold;
}
.main-contact .contact-info {
  display: flex;
}
.main-contact .contact-info .contact-email {
  font-size: 40px;
  color: #0D0D0C;
  margin: 30px 0;
}
.main-contact .contact-info .contact-email a {
  text-decoration: none;
  color: #252626;
  font-size: 60px;
  font-weight: 100;
}
.main-contact .contact-info .contact-phone a {
  text-decoration: none;
  color: #252626;
  font-size: 25px;
  font-weight: 100;
}
.main-contact .scroll-other {
  filter: blur(10px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: filter 0.7s ease-out;
}
.main-contact .scroll-appear-other {
  filter: blur(0px);
}/*# sourceMappingURL=main.css.map */